body {
  	padding-top: 50px;
}

.starter-template {
  	padding: 40px 15px;
  	text-align: center;
}

/*#btn-go {
	vertical-align: center;
}*/

.true td:nth-child(3) {
	background-color: #c1e2b3;
}

.false td:nth-child(3) {
	background-color: #f2dede;
}
